<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Attendance </h1>
    <form th:action="@{/trainer/attendance/create/{id}(id=${id})}" method="post">
        <table>
            <thead>
            <tr>
                <th>Select</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop through the users and create checkboxes -->
            <tr th:each="member : ${members}">
                <td>
                    <label>
                        <input type="checkbox" th:value="${member.id}" name="selectedUsers" />
                    </label>
                </td>
                <td th:text="${member.firstName}"></td>
                <td th:text="${member.lastName}"></td>
            </tr>
            </tbody>
        </table>
        <button type="submit">Submit Attendance</button>
    </form>
</body>
</html>