<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
    .red-text {
      color: red;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
<!--/*@thymesVar id="user" type="com.example.rur.User"*/-->
<main class="container mt-5">
  <form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center">Register</h2>
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name:</label>
          <input type="text" id="firstName" class="form-control" th:field="*{firstName}" required/>
          <ul>
            <th:block th:each="error : ${#fields.errors('firstName')}">
              <li th:text="${error}"></li>
            </th:block>
          </ul>
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name:</label>
          <input type="text" id="lastName" class="form-control" th:field="*{lastName}" required/>
          <ul>
            <th:block th:each="error : ${#fields.errors('lastName')}">
              <li th:text="${error}"></li>
            </th:block>
          </ul>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input th:placeholder="email" type="text" id="email" class="form-control" th:field="*{email}" required/>
          <ul>
            <th:block th:each="error : ${#fields.errors('email')}">
              <li th:text="${error}"></li>
            </th:block>
            <li th:if="${UserExists}" class="text-danger" th:text="${UserExists.message}"></li>
          </ul>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="text" id="password" class="form-control" th:field="*{password}" required/>
          <ul>
            <th:block th:each="error : ${#fields.errors('password')}">
              <li th:text="${error}"></li>
            </th:block>
          </ul>
        </div>
        <div class="mb-3">
          <label for="confirm-password" class="form-label">Confirm Password:</label>
          <input name="confirm-password" type="password" id="confirm-password" class="form-control" required/>
        </div>
        <button type="submit" class="btn btn-primary w-100" id="submit-registration-form">Submit</button>
      </div>
    </div>
  </form>
</main>

<script>
  const password = document.getElementById("password")
  const confirmPassword = document.getElementById("confirm-password");
  const submitButton = document.getElementById("submit-registration-form");

  submitButton.disabled = true;
  function validatePassword(){
    submitButton.disabled = password.value !== confirmPassword.value || password.value === "";
  }

  password.onkeyup = validatePassword;
  confirmPassword.onkeyup = validatePassword;
</script>
</body>
</html>
