<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.firstName}" class="text-left"></td>
    <td th:text="${user.lastName}" class="text-left"></td>
    <td th:text="${user.email}" class="text-left"></td>
    <td th:text="${user.id}" class="text-left"></td>
    <td>
      <form th:action="@{/admin/user/update/{id}(id=${user.id})}" method="post">
        <button type="submit" class="btn btn-primary mb-3">Update</button>
      </form>
    </td>
    <td>
      <form th:action="@{/admin/user/delete/{id}(id=${user.id})}" method="post">
        <button type="submit" class="btn btn-primary mb-3">Delete</button>
      </form>
    </td>
    <td>
      <form th:action="@{/admin/shift/form/{id}(id=${user.id})}" method="post">
        <label for="class">Select Class:</label>
        <select id="class" name="classId" required>
          <option value="" disabled selected>Select a class</option>
          <th:block th:each="class : ${classes}">
            <option th:value="${class.id}" th:text="${class.name}"></option>
          </th:block>
        </select>
        <button type="submit" class="btn btn-primary mb-3">Add Shift</button>
      </form>
    </td>
    <td>
      <form th:action="@{/admin/shifts/trainer/{id}(id=${user.id})}" method="get">
        <button type="submit" class="btn btn-primary mb-3">View Shifts</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
