<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.firstName}" class="text-left"></td>
    <td th:text="${user.lastName}" class="text-left"></td>
    <td th:text="${user.email}" class="text-left"></td>
    <td th:text="${user.id}" class="text-left"></td>
    <td>
      <a th:href="@{/admin/user/update/{id}(id=${user.id})}" class="btn btn-primary">Update</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
